body {
  background-color: #151515;
}

h1 {
  color: #fdfdbd;
}

.maincontainer {
  display: grid;
  grid-template-columns: 1.2fr 1.1fr;
  grid-template-rows: 0.2fr 2fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header"
    "Tasks Timer";
  margin-left: auto;
  margin-right: auto;
}

.Tasks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.4fr 0.9fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "addremove";
  grid-area: Tasks;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding: 2px;
  margin-top: 2rem;
  margin-bottom: 50px;
}

.addremove {
  grid-area: addremove;
}

.Timer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 0.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "Key-Task";
  grid-area: Timer;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
}

.Key-Task {
  grid-area: Key-Task;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
  max-height: 50px;
}

.Key-Task.form {
  max-height: 50px;
}

form {
  padding: 2em;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

input[type="task"] {
  border: none;
  border-radius: 30px;
  border-bottom: 4px solid #b1afff;
  display: inline-block;
  color: black;
  font-weight: 1000;
  font-size: 18px;
  padding: 0 18px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 70%;
  margin-bottom: 30px;
  margin-right: 10px;
}

input[type="number"] {
  border: none;
  border-radius: 30px;
  border-bottom: 4px solid black;
  color: black;
  display: inline-flex;
  font-weight: 1500;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  margin-bottom: 30px;
}

.setkeytask {
  background-color: #b1afff;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  font-size: 10px;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20px;
  margin-top: 30px;
}

select {
  margin-bottom: 30px;
}

.setkeytask:hover {
  background-color: #b1afff;
}

.setkeytask:active {
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .setkeytask {
    min-width: 120px;
    padding: 0 25px;
  }
}

.hatchheader {
  float: left;
  height: 100px;
  padding-left: 3%;
}

.button {
  background-color: #fdfdbd;
  border: 0px solid black;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 3px 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.button:focus {
  outline-width: 0;
}

.button-primary:hover {
  background-color: #b8e8fc;
  border: 0px solid #1b1f2b;
}

.button-primary-active {
  background-color: #b1afff;
  border: 0px solid #b8e8fc;
  color: white;
  width: 50%;
}

.button-primary-inactive {
  background-color: white;
  border: 0px solid #152684;
  color: black;
  width: 50%;
}

.addtask {
  background-color: #fdfdbd;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30px;
  align-items: center;
  margin-right: 15px;
}

.addtask:hover {
  background-color: #b8e8fc;
}

.addtask:active {
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .addtask {
    min-width: 120px;
    padding: 0 25px;
  }
}
