h3 {
  color: #fdfdbd;
}
.profileContainer {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 0.4fr 1.2fr 1.4fr;
  gap: 0px 40px;
  grid-auto-flow: row;
  grid-template-areas:
    "Greeting Greeting"
    "Reason Avatar"
    "Stat_1 Stat_2";
  margin-bottom: 50px;
}

.Greeting {
  grid-area: Greeting;
  align-self: center;
  justify-self: center;
}

.Reason {
  grid-area: Reason;
  align-self: center;
  justify-self: center;
}

img[type="avatarImage"] {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
  border: 0px solid white;
  box-shadow: #fdfdbd 4px 4px 0 0;
  color: #422800;
  line-height: 50px;
}

.Avatar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "updateButton";
  grid-area: Avatar;
}

.updateButton {
  grid-area: updateButton;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.Stat_1 {
  grid-area: Stat_1;
}

.Stat_2 {
  grid-area: Stat_2;
}
